section {
  background-color: #395B64;
  text-align: center;
}

section a {
  background-color: #395B64;
  margin: 8px;
  color: white;
}

section .router-link-active {
  background-color: #2C3333;
  
}

mat-divider {
  margin: auto;
  width: 50%;
}