<mat-card class="profiler-card">
    <mat-card-header>
        <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email Address</mat-label>
            <input matInput formControlName="email" />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Bio</mat-label>
            <input matInput formControlName="bio">
        </mat-form-field>
        <mat-checkbox formControlName="active">Active</mat-checkbox>
    </mat-card-content>
    <mat-card-actions align="end" >
        <button mat-button type="submit">SAVE</button>
        <button mat-button type="button" (click)="clear()">CLEAR</button>
    </mat-card-actions>
</form>
</mat-card>