<mat-card class="blog-form-card">
    <mat-card-header>{{status}} BLOG</mat-card-header>
    <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <input matInput formControlName="description" />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Author</mat-label>
                <input matInput formControlName="author" />
            </mat-form-field>

            <div formArrayName="comments">
                <label>Comments</label>
                <div *ngFor="let _ of comments.controls; index as i">
                    <mat-form-field appearance="fill" class="comment-field">
                        <input matInput [formControlName]="i" />
                    </mat-form-field>
                    <button mat-mini-fab color="warn" (click)="deleteComment(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                <div>
                    <button type="button" mat-mini-fab (click)="addComment()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>

        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button type="submit">SAVE</button>
            <button mat-button type="button" (click)="clear()">CLEAR</button>
        </mat-card-actions>
    </form>
</mat-card>